<% if @songs.blank? %>
<p>There are no songs to display. Add some songs</p>
<% else %>
<p> here are the songs we have </p>

<ul id = "songs">
  <% @songs.each do |c| %>
  <li>
    <b><%=c.name-%></b>
    <%= link_to 'details', {:action => 'show',:id => c.id} -%>
    <%= link_to 'Edit', {:action => "edit", :id => c.id} %>
    <b> <%= link_to "Delete", {:action => 'delete', :id => c.id},
          :confirm => "Are you sure you want to delete this item?" %></b>  </li>
  <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Song", {:action => 'new' }%></p>
