
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
<div class="clear"></div>


<p id="notice"><%= notice %></p>


<h1>Songs</h1>

  <% if current_user.admin?%>
    <%= link_to "Add new Song", new_song_url %>
  <% end %>



<%= will_paginate %>

<ul class="songs">
  <%= render @songs %>
</ul>

<%= will_paginate %>

</div>
