<h1>New Song</h1>

<%= form_tag :action => 'create' do %>

<p><label for = "song_title">Title</label>:
<%= text_field 'songs', 'title' %></p>

<p><label for = "song_artist_id">Artist</label>:
<%= text_field 'songs', 'artist_id' %></p>

<p><label for = "song_album_id">Album</label>:
<%= text_field 'songs', 'album_id' %></p>

<p><label for = "song_genre_id">Genre</label>:
<%= text_field 'songs', 'genre_id' %></p>

<p><label for = "song_plays">Plays</label>:
<%= text_field 'songs', 'plays' %></p>

<%#= render 'form', song: @song %>
<%= submit_tag "Create" %>

<% end -%>


<%= link_to 'Back', songs_path %>
