<div class="row">
  <div class="col-md-6 col-md-offset-3">


<
  <h1>New Song</h1>

  <%= form_for (@song) do |f| %>



  <%= f.label :title%>
  <%= f.text_field :title,  class: 'form-control'%>

  <%= f.label :artist%>
  <%= f.text_field :artist,  class: 'form-control'%>

  <%= f.label "File" %>
  <%= f.file_field :url %>


  <%= f.submit "Create", class: "btn btn-primary" %>

  <% end -%>

  <%= link_to 'cancel', songs_path %>

  </div>
</div>
