<h1>New Song</h1>
<%= form_for @song do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :artist_id %>
    <%= f.text_area :artist_id %>
  </div>

  <div>
    <%= f.label :album_id %>
    <%= f.text_area :album_id %>
  </div>

  <div>
    <%= f.label :genre_id %>
    <%= f.text_area :genre_id %>
  </div>


  <div>
    <%= f.label :file %>
    <%= file_field :file %>
  </div>

  <%= f.submit %>

<% end -%>


<%= link_to 'Back', songs_path %>
